{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container pt-4">
        <section class="mb-4">
            <div class="card">
                <div class="card-header">
                    Seasons
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Starts on</th>
                                <th>Ends on</th>
                                <th>Races</th>
                                <th>Sprint races</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for season in seasons %}
                                <tr>
                                    <td>{{ season.id }}</td>
                                    <td>{{ season.startsAt|date('Y-m-d') }}</td>
                                    <td>{{ season.endsAt|date('Y-m-d') }}</td>
                                    <td>{{ season.races }}</td>
                                    <td>{{ season.sprints }}</td>
                                    <td>
                                        <a
                                            href="{{ path('admin_seasons_edit', { id: season.id }) }}"
                                            class="btn btn-link btn-sm px-3"
                                            data-mdb-ripple-init
                                            data-ripple-color="primary"
                                        >
                                            <i class="fas fa-pen-to-square"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
