{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container pt-4">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md">
                <section class="mb-4">
                    <div class="card">
                        <div class="card-body">
                            {% if objectId is defined %}
                                {{ form_start(form, { 'action': path('admin_races_edit_results', { raceId: raceId, resultId: objectId })}) }}
                            {% else %}
                                {{ form_start(form, { 'action': path('admin_races_create_results', { raceId: raceId })}) }}
                            {% endif %}
                            {{ form_start(form) }}
                                {{ form_errors(form) }}

                                <div class="form-outline mb-4" data-mdb-input-init>
                                    {{ form_widget(form.position, { 'attr': { 'class': 'form-control form-control-lg' }}) }}
                                    {{ form_label(form.position, null, { 'label_attr': { 'class': 'form-label' }}) }}
                                </div>

                                <div class="form-outline mb-4" data-mdb-input-init>
                                    {{ form_widget(form.driver, { 'attr': { 'class': 'form-select form-control-lg' }}) }}
                                </div>

                                <div class="form-outline mb-4" data-mdb-input-init>
                                    {{ form_widget(form.points, { 'attr': { 'class': 'form-control form-control-lg' }}) }}
                                    {{ form_label(form.points, null, { 'label_attr': { 'class': 'form-label' }}) }}
                                </div>

                                <div class="form-outline mb-4" data-mdb-input-init>
                                    {{ form_widget(form.resultStatus, { 'attr': { 'class': 'form-control form-control-lg' }}) }}
                                    {{ form_label(form.resultStatus, null, { 'label_attr': { 'class': 'form-label' }}) }}
                                </div>

                                {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-primary'}}) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
