{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container pt-4">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md">
                <section class="mb-4">
                    <div class="card">
                        <div class="card-body">
                            {% if objectId is defined %}
                                {{ form_start(form, { 'action': path('admin_races_edit', { id: objectId })}) }}
                            {% else %}
                                {{ form_start(form, { 'action': path('admin_races_create')}) }}
                            {% endif %}

                                {{ form_errors(form) }}

                                <div class="form-outline mb-4" data-mdb-input-init>
                                    {{ form_widget(form.date, { 'attr': { 'class': 'form-control form-control-lg' }}) }}
                                    {{ form_label(form.date, null, { 'label_attr': { 'class': 'form-label' }}) }}
                                </div>

                                <div class="form-outline mb-4" data-mdb-input-init>
                                    {# {{ form_label(form.season) }} #}
                                    {{ form_widget(form.season, { 'attr': { 'class': 'form-select form-control-lg' }}) }}
                                </div>

                                <div class="form-outline mb-4" data-mdb-input-init>
                                    {{ form_widget(form.grandPrix, { 'attr': { 'class': 'form-control form-control-lg' }}) }}
                                    {{ form_label(form.grandPrix, null, { 'label_attr': { 'class': 'form-label' }}) }}
                                </div>

                                <div class="form-outline mb-4" data-mdb-input-init>
                                    {{ form_widget(form.circuit, { 'attr': { 'class': 'form-select form-control-lg' }}) }}
                                </div>

                                <div class="form-check mb-4">
                                    {{ form_widget(form.completed, { 'attr': { 'class': 'form-check-input' }}) }}
                                    {{ form_label(form.completed, null, { 'label_attr': { 'class': 'form-check-label' }}) }}
                                </div>

                                <div class="form-check mb-4" data-mdb-input-init>
                                    {{ form_widget(form.canceled, { 'attr': { 'class': 'form-check-input' }}) }}
                                    {{ form_label(form.canceled, null, { 'label_attr': { 'class': 'form-check-label' }}) }}
                                </div>

                                <div class="form-check mb-4" data-mdb-input-init>
                                    {{ form_widget(form.fullDistance, { 'attr': { 'class': 'form-check-input' }}) }}
                                    {{ form_label(form.fullDistance, null, { 'label_attr': { 'class': 'form-check-label' }}) }}
                                </div>

                                <div class="form-check mb-4" data-mdb-input-init>
                                    {{ form_widget(form.sprintRace, { 'attr': { 'class': 'form-check-input' }}) }}
                                    {{ form_label(form.sprintRace, null, { 'label_attr': { 'class': 'form-check-label' }}) }}
                                </div>

                                {{ form_widget(form.submit, { 'attr': { 'class': 'btn btn-primary'}}) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
